anyio==4.10.0
asttokens==3.0.0
beautifulsoup4==4.13.4
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
decorator==5.2.1
docutils==0.22
executing==2.2.0
greenlet==3.2.4
h11==0.16.0
html5lib==1.1
idna==3.10
ipdb==0.13.13
ipython==9.4.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jedi==0.19.2
loro==1.5.4
lxml==6.0.0
marimo==0.14.17
Markdown==3.8.2
matplotlib-inline==0.1.7
narwhals==2.1.1
numpy==2.3.2
packaging==25.0
pandas==2.3.1
parso==0.8.4
pexpect==4.9.0
prompt_toolkit==3.0.51
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.2
pymdown-extensions==10.16.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.2
requests==2.32.4
six==1.17.0
sniffio==1.3.1
soupsieve==2.7
SQLAlchemy==2.0.43
stack-data==0.6.3
starlette==0.47.2
tomlkit==0.13.3
traitlets==5.14.3
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
uvicorn==0.35.0
wcwidth==0.2.13
webencodings==0.5.1
websockets==15.0.1
