beautifulsoup4==4.13.4
lxml==6.0.0
marimo==0.17.0
numpy==2.3.2
pandas==2.3.1
pandas_market_calendars==5.1.1
pendulum==3.1.0
polars==1.32.3
psycopg2-binary==2.9.10
pyarrow==21.0.0
pytest==8.4.2
python-dotenv==1.1.1
ruff==0.13.2
SQLAlchemy==2.0.43
SQLAlchemy-JSONField==1.0.2
SQLAlchemy-Utils==0.42.0
yfinance==0.2.65
